/**{*/
/*    font-family: 'Exo 2', sans-serif;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/
.box {
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),  url(./images/fone.jpg);
    height: 900px;

}
.child_box{
    display: flex;
    justify-content: space-between;
}
.left_side {
    color: #ffffff;
    /*display: block;*/
    flex-wrap: wrap;
    margin-left: 196px;
    padding-top: 289px;


}


.left_side_top {

    font-weight: bold;
    font-size: 20px;

}

.left_side_tit {
    font-size: 54px;
    font-weight: bold;
    line-height: 109.5%;

}

.left_side_text {

    font-weight: bold;
    font-size: 16px;
    margin-top: 24px;
    max-width: 502px;
}
button {
    background-color: #01933C;
    color: white;
    height: 52px;
    width: 188px;
    text-align: center;
    padding: 16px 44px;
    box-sizing: border-box;
    border-radius: 61px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-top: 28px;
    border: none;
    cursor: pointer;


}
.right_side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 289px;
    margin-right:188px ;

}